<div class="flex-1">
  <a href="/" class="btn btn-ghost text-xl">Admin Ventas</a>
</div>
<div class="flex-none gap-2">
  <a href="/tenants" class="btn btn-sm">Tenants</a>
  <a href="/tenants/new" class="btn btn-primary btn-sm">Nuevo Tenant</a>
</div>
